.page-header {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 71);
}

.page-header-navbar {
    background: rgb(32, 32, 71);
    border-radius: 0px 0px 1rem 1rem;
    box-shadow: 0 4px 4px 0 rgb(5, 13, 58);
    color: #fafafa;
    width: 85vw;
    margin: 0 auto;
}

.page-header-navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1rem 0 1rem;
}

.page-header-navbar ul li {
    list-style: none;
}

.page-header-navbar ul li:first-child {
    cursor: pointer;
    transition: all 0.3s;
}

.page-header-navbar ul li:first-child a {
    text-decoration: none;
    color: #fafafa;
}

.page-header-navbar ul li:first-child:hover {
    opacity: 0.3;
}

.page-header-navbar ul li.page-header-navbar-title {
    font-weight: 600;
    font-size: 1.3rem;
}

.page-header-navbar ul li img {
    margin-top: 0.2rem;
    height: 1.2rem;
}

.page-header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    margin: 3rem auto;
}

.page-header .header-content strong {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #fafafa;
    max-width: 2rem;
}

.page-header .header-content p {
    color: #fafafa;
}

@media (min-width: 700px) {
    .page-header {
        height: 16rem;
    }

    .page-header .page-header-navbar {
        max-width: 68.8rem;
    }

    .page-header .header-content {
        max-width: 46.5rem;
    }

    .page-header .header-content strong {
        max-width: 2rem;
    }
}